@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300;1,700&display=swap");

:root {
    --primary-color:#90e0ef;

}
*{
    box-sizing:border-box;
}
body{
    margin:0;
    font-family:"Lato",sans-serif;
    color:#333333
}
header{
    padding:10px;
    margin:0px;
    width:1400spx;
    height:80px;
    background:var(--primary-color);
    text-align:center;
    font-weight: 100;
}

main{
    max-width:600px;
    margin:0 auto;
    padding: 1 rem;
}

#txt-input{
    display: block;
  margin-top: 2rem;
  height: 20vh;
  width: 100%;
  font-family: inherit;
  font-size: large;
}
#btn-translate{
    background-color: var(--primary-color);
    font-size: large;
    border:0;
    border-radius: 0.5rem;
    font-family: inherit;
    padding:1rem 1.5rem;
    margin: 1rem 0;   
}

#output {
    border: 1px solid black;
    height: 20vh;
    width: 100%;
    overflow: scroll;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--primary-color);
    width: 100%;
}

.footer-header {
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 1rem;
}

footer p {
    max-width: 600px;
    margin: auto;
    font-weight: 200;
    font-size: larger;
}



